extends template
block content
    div
        | Hello #{userName}
        br
        | You forgot password?
        | Click to this URL
        br
        a(href = forgotPasswordURL) Link to change your password